section.main-wrapper.page-circle.opt-2
    .wrapper-container.d-flex.align-items-center.justify-content-center
        .wrap-circle
            .circle 
                .block-img
                    img(src="./images/circle-2.gif", alt="")
                .block-arrow 
                    img(src="./images/arrow-2.png", alt="")
                .setting 
                    a(href="") 
                        img(src="./images/setting.svg", alt="")
            .button 
                button.btn.btn-submit 
                    span QUAY NGAY
#modal
    .modal-content
        h1 CHÚC MỪNG BẠN ĐÃ THẮNG GIẢI HẠNG 1 : ...................