header.header-opt2 
    nav.navbar.d-flex.align-items-center.justify-content-between
        .navbar-brand 
            a(href="")  
                img(src="./images/logo-opt2.svg", alt="")
        .navbar-right 
            .dropdown
                a.navbar-avatar.dropdown-toggle(href='#') 
                    img.avatar(src="./images/avarta.png", alt="")
                    p &nbsp; Xin chào, Nghĩa
                ul.dropdown-menu
                    li
                        a(href='') Logout
